<mat-tab-group>
  <mat-tab label="File Upload">
    <div class="text-box">
      <input hidden type="file" class="file-input" (change)="onUploadFileSelected($event)" #fileInput>

      <mat-form-field appearance="fill">
        <mat-label>Seleted File</mat-label>
        <input matInput readonly value="{{fileName}}">
      </mat-form-field>

      <button mat-raised-button class="file-select-btn" (click)="fileInput.click()">File Select</button>
      <button mat-raised-button color="primary" class="file-upload-btn" (click)="fileUpload(fileInput)">UPLOAD</button>
    </div>
  </mat-tab>

  <mat-tab label="File Download">
    <mat-list>
      <div mat-subheader>File List</div>
      <mat-list-item class="file-items" *ngFor="let file of files" (click)="fileDownload(file)">
        <mat-icon mat-list-icon>file_present</mat-icon>
        <div mat-line>{{file.name}}</div>
        <div mat-line>
          <span *ngIf="file.damaged == -1">smart-contract connect fail.</span>
          <span *ngIf="file.damaged == 0">file normal.</span>
          <span
            *ngIf="0 < file.damaged && file.damaged < 4">A few files damaged (recoverable)</span>
          <span *ngIf="file.damaged > 3">Many files damaged (unrecoverable)</span>
        </div>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
  </mat-tab>
</mat-tab-group>
