<mat-tab-group>
  <mat-tab label="File Upload">
    <input type="file" class="file-input" (change)="onUploadFileSelected($event)" #fileUpload>

    <div class="file-upload">
      {{fileName || "No file uploaded yet."}}

      <button mat-mini-fab color="primary" class="upload-btn" (click)="fileUpload.click()">
        <mat-icon>attach_file</mat-icon>
      </button>
    </div>
  </mat-tab>

  <mat-tab label="File Download">
    <input type="file" class="file-input" webkitdirectory (change)="onDownloadPathSelected($event)" #fileDownloadPath>
    <div class="file-upload">
      {{downloadPath || "No directory yet."}}

      <button mat-mini-fab color="primary" class="upload-btn" (click)="fileDownloadPath.click()">
        <mat-icon>attach_file</mat-icon>
      </button>
    </div>

    <mat-list>
      <div mat-subheader>File List</div>
      <mat-list-item *ngFor="let file of files" (click)="fileDownload(file)">
        <mat-icon mat-list-icon>file_present</mat-icon>
        <div mat-line>{{file.name}}</div>
        <div mat-line> {{file.updated | date}} </div>
        <div mat-line> {{file.damaged}} </div>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
  </mat-tab>
</mat-tab-group>
